<h1> TEST </h1>
<div class="col-xs-12">
    <% @users.each do |user| %>
        <ul>
            <li>
                <p><%= link_to user.first_name, user_path(user) %></p>
                
            </li>
        </ul>
    <% end %>
</div>
