<div class="footer <%= yield(:footer_class) %>">

  <div class="text-footer">
    site réalisé à Viroflay. Tous droits réservés.
  </div>

  <div class="social-links">
    <a href="https://www.linkedin.com/in/erwannddlv" target="_blank"><i class="fab fa-linkedin fa-sm"></i></a>
    <a href="https://www.facebook.com/ededieuleveult" target="_blank"><i class="fab fa-facebook-square fa-sm"></i></a>
    <a href="https://twitter.com/ErwannDDLV" target="_blank"><i class="fab fa-twitter-square fa-sm"></i></a>
    <a href="https://github.com/ErwannDDLV" target="_blank"><i class="fab fa-github-square fa-sm"></i></a>
  </div>
</div>