<div class="form-group">
    <%= simple_form_for :search, :method => :get do |f| %>
        <%= f.input :search, autofocus: true, input_html: {class: "form-search-input", placeholder: "find by name..."}, label: false %>
    <% end %>
</div>