<div id="wrapper">
    <div class="container">
        <div class="row">
            <h2> Update "<%= @book.title%>"</h1>
            <%= render 'book_form', book: @book %>
        </div>
    </div>
</div>