<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <h2> Update "<%= @book.title%>"</h1>
                    <%= render 'book_form', book: @book %>
                </div>
            </div>
        </div>
    </div>
</div>