
  <% @books.each do |book| %>
    <ul>
      <li>
        <h3><%= link_to book.title, book_path(book) %></h2>
        <% if book.state == true %>
          <%= "book is free"%>
        <% else %>
          <%= "can't take this book"%>
        <% end %>
      </li>
    </ul>
  <% end %>