
@mixin background-book {
	box-sizing: border-box;
	border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #ccc;
	padding: 20px 20px;
    height: 350px;
	width: 250px;
    margin-top: 30px;
    margin-bottom: 10px;
    opacity: 1;
    :hover{
		opacity: 0.5;
		cursor: pointer;
    }
}

.book-available {
	@include background-book;
	background-color: #fff;
}

.book-borrowed {
	@include background-book;
	background-color: $light-orange;
}

@mixin book-cover-index {
	height: 300px;
	width: 210px;
}

.book-cover-available {
	@include book-cover-index;
}

.book-cover-borrowed {
	@include book-cover-index;
	filter: grayscale(1);
}

.book-title {
    p {
        font-size: 14px;
        opacity: 0.7;
        font-weight: lighter;
    }
}