@mixin mybutton{
    border-radius: 10px;
    font-weight: lighter;
    margin: 3px;
    background-color:white;
    &:hover {
        text-decoration: none;
        cursor: pointer;
        color: white;
        border: 1px solid white;
    }
}

.btn-edit {
    @include mybutton;
    color: $blue;
    border: 1px solid $blue;
    &:hover {
        background-color: $blue;
    }
}

.btn-delete {
    @include mybutton;
    color: $red;
    border: 1px solid $red;
    &:hover {
        background-color: $red;
    }
}

.btn-back {
    @include mybutton;
    color: $green;
    border: 1px solid $green;
    &:hover {
        background-color: $green;
    }
}
  