.btn-edit {
    color: $blue;
    background-color:white;
    border: 1px solid $blue;
    padding: 3px 15px;
    border-radius: 10px;
    font-weight: lighter;
    opacity: 1;
    height: 35px;
    &:hover {
        text-decoration: none;
        color: $blue;
        opacity: 0.4;
    }
}

.btn-delete {
    color: $red;
    border: 1px solid $red;
    padding: 3px 15px;
    border-radius: 10px;
    font-weight: lighter;
    opacity: 0.6;
    &:hover {
        opacity: 1;
        text-decoration: none;
        color: $red;
    }
}

.btn-back {
    color: $green;
    background-color:white;
    border: 1px solid $green;
    padding: 3px 15px;
    border-radius: 10px;
    font-weight: lighter;
    opacity: 1;
    height: 35px;
    &:hover {
        text-decoration: none;
        color: $green;
        opacity: 0.4;
    }
}
  